@import '~bootstrap/scss/bootstrap';

.main-wrapper {
    height: calc(100vh - 57px);
}

main {
    height: calc(100vh - 57px);
    overflow-y: auto;
    background-image: url('/resources/img/bg_06.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    color: white !important;
}

.mb-nav-link {
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: white;
    }
}

.table-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 25px;
}

.table-wrapper {
    .row{
        nav{
            width: 100%;
            color: red;
            ul{
                color: red;
                width: 100%;
                display: flex;
                justify-content: center;
                li {
                    .page-link {
                        color: black;
                        background-color: olivedrab;
                        border: 2px solid black;
                        border-radius: 5px;
                    }
                }
                li.active {
                    .page-link {
                        color: black;
                        background-color: white;
                        transform: scale(1.1);
                    }
                }
            }

        }
    }
}

.table tr th:nth-child(1) {
    width: 20%;
 }

.table tr th:nth-child(2) {
    width: 100%;
 }

 .table tr td:nth-child(2) {
    text-transform: capitalize;
 }

 .ck-editor__editable[role="textbox"] {
    /* editing area */
    height: 300px;
}
